body{
background-color: whitesmoke;
}

.container{
margin: auto;
width: 50%;
border: 1px solid black;
border-radius: 15px;
background-color: teal;
padding: 10px
}

.add-btn{
float: right;
background-color: red;
color: whitesmoke;
border-radius: 5px;

}

